html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/* !!! CSS RESET !!! */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  margin: 0;
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  font-size: 16px; }

/*================
   SPINNER
  ================== */
@-webkit-keyframes move {
  from {
    -webkit-transform: translateX(-50%); }
  to {
    -webkit-transform: translateX(0%); } }
/* all other browsers */
@keyframes move {
  from {
    transform: translateX(-50%); }
  to {
    transform: translateX(0%); } }
#site {
  background-color: #eebe2c;
  font-family: Arial, Regular, sans-serif;
  font-size: 1rem; }
  #site #cover {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #eebe2c;
    z-index: 10;
    opacity: 0;
    transition: opacity 1.25s ease; }
    #site #cover.visible {
      opacity: 1; }
  #site #album_container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    cursor: url(hand-1.png), grab;
    cursor: url(hand-1.png), -webkit-grab;
    opacity: 0;
    transition: opacity 1.25s ease; }
    #site #album_container:active {
      cursor: url(hand.png), grabbing;
      cursor: url(hand.png), -webkit-grabbing; }
    #site #album_container.visible {
      opacity: 1; }
  #site #social_media_links {
    position: fixed;
    top: 2rem;
    left: 2rem;
    z-index: 100; }
    #site #social_media_links li {
      padding-bottom: 0.6em; }
      #site #social_media_links li a {
        text-decoration: none;
        color: #000; }
        #site #social_media_links li a:hover {
          font-style: italic; }
  #site #banner {
    position: fixed;
    z-index: 100; }
  #site #banner {
    position: fixed;
    bottom: 3rem;
    left: 2rem;
    width: 300px;
    height: 40px; }
  #site #birthday {
    position: fixed;
    bottom: 1.5rem;
    left: 3.4rem;
    font-size: 0.7rem; }
  #site #banner .line:nth-of-type(2) {
    transform: rotate(90deg);
    margin-left: 130px; }
  #site #banner .line:nth-of-type(4) {
    transform: rotate(270deg);
    margin-left: -130px; }
  #site #banner .line i {
    animation: move 15s infinite linear, blink2 6s infinite; }
  #site #party_flyer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 90vw;
    max-height: 90vh;
    display: none;
    box-shadow: 1rem 1rem 0.5rem rgba(0, 0, 0, 0.5); }
  #site .rotate {
    position: absolute;
    bottom: 30px;
    left: 30px;
    width: 200px;
    height: 40px;
    overflow: hidden;
    color: #000;
    animation: blink 1s step-end infinite alternate; }
    #site .rotate:hover #party_flyer {
      display: block; }
  #site .rotate .line {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute; }
  #site .rotate .line:nth-of-type(1) {
    transform: rotate(0deg); }
  #site .rotate .line:nth-of-type(2) {
    transform: rotate(90deg);
    margin-left: 80px; }
  #site .rotate .line:nth-of-type(3) {
    transform: rotate(180deg); }
  #site .rotate .line:nth-of-type(4) {
    transform: rotate(270deg);
    margin-left: -80px; }
  #site .rotate .line i {
    left: 0;
    top: 0;
    width: 214%;
    display: block;
    position: absolute;
    border-bottom: 2px dashed;
    animation: move 15s infinite linear, blink 1.75s infinite linear; }
  #site .rotate .text {
    padding-top: 12px;
    text-align: center;
    letter-spacing: 1px;
    font-size: 14px;
    color: #000; }
  #site #site_credits {
    position: fixed;
    padding: 2rem;
    bottom: 0rem;
    right: 0rem;
    font-size: 0.7rem;
    z-index: 100; }
    #site #site_credits a {
      color: #00f; }

/*# sourceMappingURL=main.css.map */
